*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  min-height: 100vh
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  background-color: purple;
  color:white;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 2rem;
}
.logo-text{
  margin-left: 5px;
  font-weight: 300;
  font-size: 1rem;
}
.logo-div{
  display: flex;
  align-items: center;

}

.search{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.search-div{ 
  padding: 8px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  width: 60%;
}
.search-div form{
  display: flex;
  flex-direction: row;
}
.search-in1 {
  border: none;
  border-right: 1px solid;
  padding: 8px;
  width: 40%;
  font-size: 15px;
  margin: 6px;
}
.search-in2{
  border: none;
  padding: 8px;
  width: 40%;
  font-size: 15px;
  margin: 6px;
}
.search-btn{
  border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    padding: 6px;
    width: 20%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.s-btn::after{
  content: "/";


}
.search-in1:focus,.search-in2:focus{
  outline: none;
}
.l-btn{
 
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
}
.h1-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-links{
  padding-right: 10px;
}
.pj-div{
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: none;
  border-left: 1px solid;
  height: 30px;
}
.pj-btn{
  padding: 8px;
  background-color: purple;
  border-radius: 10px;
  color:white;
}
.header2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: plum;
  padding: 10px;
  text-align: center;
}
.h2-wrapper{
  background-color: plum;
  padding-top: 10px;
}
.h2-links a{
  padding: 10px;
}

#navbar a:hover {
  background-color:white;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

#navbar a.clicked {
  background-color:white;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

#navbar a.active {
  background-color: white;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}
 main h2{
   padding: 10px;
 }

.dj-nav{
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: scroll;
}
.htp{
  display: flex;
  flex-direction: row;
}
.htp-div{
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: plum;
  padding: 10px;
  margin: 10px;
}
.dj-nav p{
  padding: 10px;
}
.dj-wrapper{
  display: flex;
  padding: 10px;
}
.dj{
  padding: 10px;
  border: 1px;
  border-color: plum;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
}
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
.nav-aside {
  width: 20%;
  background:#f1f1f1;
  padding: 20px;
}

/* Style the list inside the menu */
.nav-aside ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
main{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color:white;
  padding: 10px;
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}




.footer {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  padding:20px;
  align-items:center;
  justify-content:space-around;
  background-color: #ccc;
  text-align: center;
  color: white;
  height: 100px;

}
.foot-flex2{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foot-flex1{
  display: flex;
  padding-left: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}
.foot-flex3{
  display:flex;
  flex-wrap:wrap;
}
.foot-flex4{
  display:flex;
  flex-wrap:wrap;
}
.foot-icon{
  padding-left: 10px;
  padding-right: 10px;
  padding-top:4px;
  padding-bottom: 4px;
}

@media (max-width:610px){
  .foot-flex2{
      margin-bottom: 20px;
  }
}

@media (max-width:900px){
  .nav-aside{
      display: none;
  }

  .htp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width:500px){
.search-div{ 
  width: 95%;
  }
  .search-div button{
  font-size: 12px;
}
}
